

@{
    ViewBag.Title = "Manage Accounts";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Manage Accounts</h2>
<div class="list-group">
    <ul class=" list-group-item-text">
        <li>@Html.ActionLink("Accounts", "Index", "Accounts")</li>
        <li>@Html.ActionLink("Account Sub Types", "Index", "AccountSubTypes")</li>
    </ul>
</div>